langchain
langchain-community
langchain-core
langchain-huggingface
langchain-text-splitters
langchain-chroma
langchain-groq

chromadb
faiss-cpu
sentence-transformers

pypdf
pymupdf
beautifulsoup4
arxiv
wikipedia
duckduckgo-search

python-dotenv
validators
unstructured
numexpr

ipykernel
